
.mb-4 {
    background-color: black;
}

.navber {
     background-color: black;
}


footer {
    background-color: black;
    text-align: center;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    width: 100%;
}

.copyright {
    color: white;
}

